$headerHeight: 50px;

$tc-blue: #0094f2;
$tc-gold: #f9ad30;

$accent-color: $tc-blue;
$accent-hover: #165fd2;
$accent-click: #043bcf;

$light-theme-bg: #e8e8ed;
$light-theme-bg-hover: #d3d3de;
$light-theme-fg: #000000;
$light-theme-input: #bdbdcc;
$light-theme-link: #2e6dd3;
$light-theme-hr: #494953;
$light-theme-err-bg: #cf0808;

$dark-theme-bg: #2a2a2f;
$dark-theme-bg-hover: #3f3f46;
$dark-theme-fg: #ffffff;
$dark-theme-input: #494953;
$dark-theme-link: #619eff;
$dark-theme-hr: #aaaab8;
$dark-theme-err-bg: #590000;