{{define "timetable"}}
{{template "header" . -}}
<div id="root">
<main id="main-content">
    <a style="float: right; margin-bottom: 20px;" href="/timetable.png" download>Download timetable</a>
    <div id="timetable">
    {{$currentDay := .Body.TimetableData.CurrentDay}}
    {{range $index, $day := .Body.TimetableData.Days}}
        {{$weekday := (add $index 1)}}
        {{if eq $currentDay $weekday}}
            <div class="day" style="background: #c2cdfc;">
            <h2 style="background: var(--accent-hover);">{{$day.Day}}</h2>
        {{else}}
            {{if lt $weekday $currentDay}}
            <div class="day yesterday">
            {{else}}
            <div class="day">
            {{end}}
            <h2>{{$day.Day}}</h2>
        {{end}}
                <div class="lessons">
                    {{range $i, $lesson := $day.Lessons}}
                        <div class="lesson" style="min-height: {{$lesson.Height}}px; top: {{$lesson.TopOffset}}px; color: {{$lesson.Color}}; background-color: {{$lesson.BGColor}};">
                            <h3 class="class-name">{{$lesson.Class}}</h3>
                            {{if ne $lesson.Notice ""}}
                                <p class="notice">{{$lesson.Notice}}</p>
                            {{end}}
                            <p class="time-room">{{$lesson.FormattedTime}} ({{$lesson.Duration}})</p>
                            {{if ne $lesson.Teacher ""}}
                                <p class="teacher">{{$lesson.Teacher}}, {{$lesson.Room}}</p>
                            {{else}}
                                <p class="teacher">{{$lesson.Room}}</p>
                            {{end}}
                        </div>
                    {{end}}
                </div>
            </div>
    {{end}}
    </div>
</main>
<footer></footer>
</div>
{{end}}
